

.header-search {
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
	margin-top: 50px;
	border-bottom: 2px solid #e3e4e9;
}


.header-btn {
	text-align: center;
}

.header-btn>button {
	padding: 5px 20px;
	background-color: #50c1e9;
	border: none;
}

.content {
	background-color: #ffffff;
	margin-top: 10px;
	border-bottom: 2px solid #e3e4e9;
}
/*2018-10-18*/
* {
	margin: 0;
	padding: 0;
}
dl,dt,dd,ul,li,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}

body {
	background-color: #fff;
}
/*头部*/
.header_wrap {
	width: 37.5rem;
	height: 6.4rem;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 80;
}
.header {
	width: 34.3rem;
	height: 3.3rem;
	margin: 0 auto;
	margin-top: 3.1rem;
	overflow: hidden;
	position: relative;
}
.header_left {
	width: 1.3rem;
	height: 2.2rem;
}
.header_left {
	position: absolute;
	top: 0;
	left: 0;
}
.header_left img {
	width: 1.3rem;
	height: 2.2rem;
}
.header_right {
	width: 34.3rem;
	height: 2.2rem;
	margin: 0 auto;
	text-align: center;
	line-height: 2.2rem;
	font-size: 1.8rem;
	font-weight: bold;
}
.clear {
	clear: both;
}
/*插件*/
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

/*li 平均分配*/  
.flex .flex-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}



