#header {
    background-color: #ffffff;
}


#header img{
    line-height: 44px;
    float: left;
    width: 44px;
}


.mui-bar-nav{
    background: #fff;
    box-shadow:none;
}
.mui-bar-nav a{
    color: #333;
}


.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    clear: both;
}

.myList .right {
    float: right;
}

.myList .listItem {
    height: 50px;
    line-height: 50px;
    clear: both;
}

.myList img {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}
.myList .listItem i {
    color: #CECECE;
}