#header {
    background-color: #ffffff;
}


#header img{
    line-height: 44px;
    float: left;
    width: 44px;
}


.mui-bar-nav{
    background: #fff;
}
.mui-bar-nav a{
    color: #333;
}


.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    clear: both;
}

.myList .right {
    float: right;
}

.myList .listItem {
    height: 50px;
    line-height: 50px;
    clear: both;
}

.myList img {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}
.myList .listItem i {
    color: #CECECE;
}
/*ul*/  
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

/*li 平均分配*/  
.flex .flex-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.nodata{
	text-align: center;
}
